<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/restaurants.css" />
  </head>
  <body>
    <!-- 다른 파일의 html코드를 가져옴 (상대경로) -->
    <!-- 동적 내용이 있다면 '경로', {} 로 추가가능 -->
    <%- include('includes/header') %> <%- include('includes/side-drawer') %>
    <main>
      <h1>Recommended restaurants</h1>
      <% if (numberOfRestaurants === 0) { %>
      <p>
        Unfortunately, we have no restaurants yet - maybe start recommending
        some?
      </p>
      <% } else { %>
      <p>Find your next favorite restaurants with help of our other users!</p>
      <p>We found <%= numberOfRestaurants %> restaurants.</p>
      <form action="/restaurants" method="get">
        <input type="hidden" value="<%= nextOrder %>" name="order">
        <button class="btn">Change Order</button>
      </form>
      <ul id="restaurants-list">
        <% for (const restaurant of restaurants) { %>
        <%- include('includes/restaurants/restaurants-item', {restaurant: restaurant} ) %>
        <!-- 좌측의 레스토랑은 연결되어있는 restaurants-item에서 restaurant.name에 사용하는 레스토랑이라는 변수에 연결되고
             우측의 레스토랑은 const restaurant를 의미한다는 뜻이다. -->
        <% } %>
      </ul>
      <% } %>
    </main>
  </body>
</html>
